#modal-add-contact.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Ajouter un contact
      .modal-body
        = simple_form_for @contact, remote: true do |f|
          = f.input :prenom
          = f.input :nom
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Fermer
            = f.button :submit, "Ajouter"