#modal-add-contact.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Ajouter un contact
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Fermer
        %button.btn.btn-primary{type: "button"} Ajouter